<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brandon Joshua Dev</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@1,500;1,700;1,800&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
   <header>
    <div>
        <h1>Brandon Joshua</h1>
        <h3>Developer and Designer</h3>
    </div>
    



    <ul>
        <div class="btn"><a href="/">Home</a></div>
        <div class="btn"><a href="/journey">My Journey</a></div>
        <div class="btn"><a href="/projects">Projects</a></div>
        <div class="btn"><a href="/contact">Contact</a></div>
    </ul>
   </header>