<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brandon Joshua Dev</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:ital,wght@0,300;0,400;0,800;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
   <header>
    <nav>
        <ul>
            <div class="btn anm8"><a href="/">Home</a></div>
            <div class="btn anm8"><a href="/projects">Projects</a></div>
            <div class="btn anm8"><a href="/contact">Contact</a></div>
        </ul>

        <ul>
            <div class="link"><a href="https://docs.google.com/document/d/19_-GirxA5Yi3jv6egrE-uI28XV-z2s0uVe7lCj8JFt0/edit?usp=sharing" target="_blank"><img src="/images/download.png" alt=""></a></div>
            <div class="link"><a href="https://github.com/Ayosage" target="_blank"><img src="/images/github.png" alt=""></a></div>
            <div class="link"><a href="https://www.linkedin.com/in/brandon-joshua-7001b21b9/" target="_blank"><img src="/images/linkedin.png" alt=""></a></div>
        </ul>
    </nav>
   </header>