<%- include("partials/header.ejs")%>
   <div class="transition-index">
      
   </div>

   <div class="container-left">
      <h2 class="center"> My name is</h2>
      <h2 class="center text-left"><i> <span>Brandon</span> Joshua </i></h2>
      <div class="p-center"><h3>I'm a beverage designer making a transition into web development.
         After 8 years working in Winemaking, Distilling, and Brewing, I've seen how data and applications affect production at every level.
      That experience inspired me to dive into development to see how I could impact everyday operations.
     </h3></div>
      
      
     <h2 class="auto anm8"><a href="/projects"> Check out my projects <img class="svg" src="/images/right-arrow.svg" alt=""></a></h2>
   </div>





</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/index.js"></script>

</html>



