<%- include("partials/header.ejs")%>
   <div class="transition-index">
      
   </div>

   <div class="container-left">
      <h2 class="center"> My name is</h2>
      <h2 class="center text-left"><i> <span>Brandon</span> Joshua </i></h2>
      <div class="p-center"><h3>Thanks for stopping by, I'm a beverage designer making a transition into web development.
         After 8 years working in Winemaking, Distilling, and Brewing, I've seen how data and applications affect production at every level.
      That experience inspired me to dive into development to see how I could impact every day operations.
     </h3></div>
      
      
     <h2 class="auto"><a href="/projects"> Check out my projects <img class="svg" src="/images/right-arrow.svg" alt=""></a></h2>
   </div>

<!--
   <div class="container">
      <h1>Most Recent Projects</h1>
      
      <div class="card-container">
         <div class="project-display-card">
            <img src="" alt="">
            <a href="https://github.com/Ayosage/Portfolio" target="_blank">This Website!</a>
            <p class="project-card-description"></p>
         </div>

         <div class="project-display-card">
            <img src="" alt="">
            <a href="https://github.com/Ayosage/Discord-Bot" target="_blank">Custom Discord Server Bot</a>
            <p class="project-card-description"></p>
         </div>

         <div class="project-display-card">
            <img src="" alt="">
            <a href="https://github.com/Ayosage/Product-Card-Preview" target="_blank">Display Card Component Desgin</a>
            <p class="project-card-description"></p>
         </div>
      </div>

   </div>
-->



</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/index.js"></script>

</html>



<!-- <%- include("partials/footer.ejs") %>  --> 