<%- include("partials/header.ejs")%>

<div class="container">
   <h3 class="center">Hey! Thanks for stopping by. I'm a beverage designer making a transition into web development.
      After 8 years working in Winemaking, Distilling, and Brewing, I've seen how data and applications affect production at every level.
   That experience inspired me to dive into development to see how I could impact every day operations.
   Check out how I'm developing solutions for the web below:  </h3>
   
</div>

<div class="container">
   <h1>Most Recent Projects</h1>
   
   <div class="card-container">
      <div class="project-display-card">
         <img src="" alt="">
         <a href="https://github.com/Ayosage/Portfolio">This Website!</a>
         <p class="project-card-description"></p>
        </div>

      <div class="project-display-card">
         <img src="" alt="">
         <a href="https://github.com/Ayosage/Discord-Bot">Custom Discord Server Bot</a>
         <p class="project-card-description"></p>
        </div>

      <div class="project-display-card">
         <img src="" alt="">
         <a href="https://github.com/Ayosage/Product-Card-Preview">Display Card Component Desgin</a>
         <p class="project-card-description"></p>
      </div>
   </div>

</div>

<div class="container">
   <h1>Most Recent Projects</h1>
   
   <div class="card-container">
      <div class="project-display-card">
         <img src="" alt="">
         <a href="https://github.com/Ayosage/Portfolio">This Website!</a>
         <p class="project-card-description"></p>
        </div>

      <div class="project-display-card">
         <img src="" alt="">
         <a href="https://github.com/Ayosage/Discord-Bot">Custom Discord Server Bot</a>
         <p class="project-card-description"></p>
        </div>

      <div class="project-display-card">
         <img src="" alt="">
         <a href="https://github.com/Ayosage/Product-Card-Preview">Display Card Component Desgin</a>
         <p class="project-card-description"></p>
      </div>
   </div>

</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/index.js"></script>

</html>



<!-- <%- include("partials/footer.ejs") %>  --> 