<%- include("partials/header.ejs")%>

   <div class="project-display-card">
    <a href="https://github.com/Ayosage/Discord-Bot">Custom Discord Server Bot</a>
    <p class="project-card-description">This bot lets members of the server propose and vote on the name and title image of the server.</p>
   </div>

<%- include("partials/footer.ejs") %> 


<!-- -->