<%- include("partials/header.ejs")%>

  

<div class="container-right">
    <div class="project-display-panel">
        
        <div><a href="https://github.com/Ayosage/Portfolio">this.sourceCode</a></div>
        <h4 class="description"> The source code for this website</h4>
        <div class="flex-container">
            <div class="madeWith">javascript</div>
            <div class="madeWith">CSS</div>
            <div class="madeWith">Jquery</div>
            <div class="madeWith">Express</div>
            <div class="madeWith">Node.js</div>
        </div>
       </div>

    <div class="project-display-panel ">
    
        <div><a href="https://github.com/Ayosage/Discord-Bot">Weekbot</a>
        </div>
        <h4 class="description"> A Custom Discord Bot that allows users to change server settings by vote</h4>
        <div class="flex-container">
            <div class="madeWith">javascript</div>
            <div class="madeWith">Discord.Js</div>
            <div class="madeWith">MongoDB</div>
            <div class="madeWith">Mongoose</div>
            <div class="madeWith">Node.js</div>
        </div>
    </div>

    <div class="project-display-panel ">
    
        <div><a href="https://github.com/Ayosage/Time-Track-Dashboard"> Dynamic Time Tracker </a></div>
        <h4 class="description"> Dynamically loads information from JSON</h4>
        <div class="flex-container">
            <div class="madeWith">javascript</div>
            <div class="madeWith">CSS</div>
            <div class="madeWith">HTML</div>
            <div class="madeWith">Node.js</div>
        </div>
    </div>

    <div class="project-display-panel ">
    
        <div><a href="https://github.com/Ayosage/News-Homepage"> News Page Design </a></div>
        <h4 class="description"> A landing page for a News Website</h4>
        <div class="flex-container">
            <div class="madeWith">javascript</div>
            <div class="madeWith">CSS</div>
            <div class="madeWith">Jquery</div>
            <div class="madeWith">HTML</div>
            <div class="madeWith">Node.js</div>
        </div>
    </div>

    <div class="project-display-panel ">
    
        <div><a href="https://github.com/Ayosage/Product-Card-Preview"> Reusable Card Component </a></div>
        <h4 class="description"> A card component design for reusable components</h4>
        <div class="flex-container">
            <div class="madeWith">javascript</div>
            <div class="madeWith">CSS</div>
            <div class="madeWith">Jquery</div>
            <div class="madeWith">HTML</div>
            <div class="madeWith">Node.js</div>
        </div>
    </div>

    <div class="project-display-panel ">
    
        <div><a href="https://github.com/Ayosage/Natours"> Natours Tourism </a></div>
        <h4 class="description">Natours is a CSS Showcase </h4>
        <div class="flex-container">
            <div class="madeWith">CSS</div>
            <div class="madeWith">SASS</div>
            <div class="madeWith">HTML</div>
            <div class="madeWith">Node.js</div>
        </div>
    </div>

</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/projects.js"></script>

</html>


